@media screen 
  and (min-device-width: 1200px)  
  and (-webkit-min-device-pixel-ratio: 1) { 

	#eo-plate {
		text-align: left;
	  	width: 80%;
	}

	#eo-ios {
		margin-top: -46%;
		margin-left: 11.5%;
		text-align: left;
		width: 70%;
	}

	#eo-content {
		margin-top: -35%;
		text-align: right;
	}

	#eo-logo img {
		margin-right: 7%;
	}

	#eo-motto {
		width: 35%;
		margin-left: 57%;
		font-size: 4vw;
	}
}

@media screen 
  and (max-device-width: 1200px)  
  and (-webkit-min-device-pixel-ratio: 2) { 

	#eo-plate {
		padding-top: 56%;
		text-align: center;
	  	width: 100%;
	  	bottom: 0px;
	}

	#eo-ios {
		margin-top: -62%;
		text-align: center;
		width: 100%;
	}

	#eo-content {
		margin-top: -134%;
		text-align: center;
	}

	#eo-motto {
		width: 55%;
		margin-left: 22%;
		font-size: 6vw;
	}
}