.EatOut {
    padding: 0%;
    margin: 0%;
}

.EatOut a:hover {
    text-decoration: none;
}

#innerContent {
    background-color: rgba(35, 36, 35, 1.0);
    position: relative;
    height: auto;
    width: 100%;
}