@font-face {
    font-family: AvenirNext;
    src: url("../res/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}

#eo-div {
    background-color: rgba(35, 36, 35, 1.0);
    position: relative;
    height: auto;
    right: 0%;
    width: 100%;
}

#eo-plate {
	position: relative;
	margin-top: 1.5%;
	min-height: 50%;
}

#eo-plate img {
    width: 60%;
}

#eo-ios {
	position: relative;
	height: 70%;
}

#eo-ios img {
    width: 35%;	
}

#eo-logo {
    max-height: 50%;
}

#eo-logo img {
    max-height: 35%;
    max-width: 35%;
}

#eo-content {
	font-family: AvenirNext;
	color: white;
}

#eo-info, #eo-motto {
	color: white;
	text-align: center;
}

#eo-motto {
	animation: motto-slide 1.75s;
	-webkit-animation: motto-slide 1.75s;
}

#eo-info {
    animation: info-fade 3s;
}