@font-face {
    font-family: AvenirNext;
    src: url("../res/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}

#eo-div {
    background-color: rgba(35, 36, 35, 1.0);
    position: relative;
    height: auto;
    right: 0%;
    width: 100%;
}

#eo-ios {
	position: relative;
	height: 70%;
}

#eo-ios img {
    width: 35%;	
}