.Motto {
	color: white;
    text-align: center;
    animation: motto-slide 1.75s;
	-webkit-animation: motto-slide 1.75s;

	margin-bottom: 1%;
}

@media screen 
  	and (min-device-width: 1200px)  
  	and (-webkit-min-device-pixel-ratio: 1) { 

	.Motto {
		width: 35%;
		margin-left: 57%;
		font-size: 4vw;
	}
}

@media screen 
  	and (max-device-width: 1200px)  
  	and (-webkit-min-device-pixel-ratio: 2) { 

	.Motto {
		width: 55%;
		margin-left: 22%;
		font-size: 6vw;
	}
}