.SocialMediaLink {
		display: inline-block;
}

.SocialMediaLink a:hover {
		color: rgb(50,50,50)
}

@media screen 
  	and (min-device-width: 1200px)  
  	and (-webkit-min-device-pixel-ratio: 1) {

		.SocialMediaLink {
			padding-left: 0.25%;
			padding-right: 0.25%;
		}

		.SocialMediaLink a {
			width: 3.5vw;
		}
}

@media screen 
		and (max-device-width: 1200px)  
		and (-webkit-min-device-pixel-ratio: 2) {

		.SocialMediaLink {
			padding-left: 0.25%;
			padding-right: 0.25%;

			text-decoration: none;
		}

		.SocialMediaLink a {
			width: 9.5vw;
		}
}