@media screen 
  and (min-device-width: 1200px)  
  and (-webkit-min-device-pixel-ratio: 1) { 
	.content {
		text-align: right;
		height: 550px;
		color: white;
	}

	.logo {
		margin-right: 10%; 
		max-height: 50%;
		padding-bottom: 5%;
	}

	.logo img {
		max-height: 35%;
		max-width: 35%;
	}

	.info, .motto {
		color: white;
		width: 35%;
		margin-left: 57%;
		text-align: center;
	}

	.motto {
		font-size: 4vw;
		animation: motto-slide 1.75s;
    	-webkit-animation: motto-slide 1.75s;	
	}

	.info {
		font-size: 2vw;
		animation: info-fade 3s;
		-webkit-animation: info-fade 3s;
	}

	#mc_signup {
		padding-top: 5%;
		padding-bottom: 10%;
		margin-top: 5%;
		text-align: center;
		width: 85%;
		margin-left: 8%;
		font-size: 1.75vw;
		color: white;
	}

	.button {
	  background: #f05a5a;
	  -webkit-border-radius: 10;
	  -moz-border-radius: 10;
	  border-radius: 10px;
	  color: #ffffff;
	  font-size: 20px;
	  padding: 10px 20px 10px 20px;
	  text-decoration: none;
	  border: solid rgba(35, 36, 35, 1.0) 2px;
	}

	.button:hover {
	  cursor: pointer;
	}

	input[type=email] {
        -webkit-transition: width 2.4s ease-in-out;
    	transition: width 2.4s ease-in-out;
    	height: 5%;
    	font-size: 1vw;
    	width: 45%;
	}
	img.gif{
		width: 70%;
		height: auto;
	}
}

@media only screen 
  and (max-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
 	.content {
		text-align: center;
	}

	.logo {
		position: absolute;
		width: 100%;
	}

	.logo img {
		margin-top: 5%;
		max-height: 35%;
		max-width: 75%;
	}

	.info, .motto {
		position: absolute;
		width: 100%;
		text-align: center;
		color: white;
	}

	.motto {
		margin-top: 45%;
		font-size: 8vw;
		animation: motto-slide 1.75s;
    	-webkit-animation: motto-slide 1.75s;	
	} 	

	.info {
		margin-top: 65%;
		font-size: 6vw;
		animation: info-fade 3s;
		-webkit-animation: info-fade 3s;
	}


	#mc_signup {
		margin-top: 5%;
		margin-left: 20%;
		text-align: center;
		width: 60%;
		font-size: 4.5vw;
		color: white;
	}

	.button {
	  background: #f05a5a;
	  -webkit-border-radius: 10;
	  -moz-border-radius: 10;
	  border-radius: 10px;
	  color: #ffffff;
	  font-size: 20px;
	  padding: 15px 70px 15px 70px;
	  text-decoration: none;
	  border: solid rgba(35, 36, 35, 1.0) 2px;
	}

	.button:hover {
	  cursor: pointer;
	}

	label {
		padding-bottom: 50px;
	}

	input[type=email] {
        -webkit-transition: width 2.4s ease-in-out;
    	transition: width 2.4s ease-in-out;
    	height: 15%;
    	font-size: 2.5vw;
    	width: 45%;
	}

	img{
		zoom: 70%;
		height: auto;
	}
}

@keyframes motto-slide {
    from {opacity: 0;}
    to {opacity: 1;}

  0% {
    transform: translateY(70%);
  }
  65% {
    transform: translateY(-5%);
  }
  100% {
  	transform: translateY(0);
  }
}
@-webkit-keyframes motto-slide {
    from {opacity: 0;}
    to {opacity: 1;}

  0% {
    transform: translateY(70%);
  }
  65% {
    transform: translateY(-5%);
  }
  100% {
  	transform: translateY(0);
  }
}

@keyframes info-fade {
    0% {opacity: 0;}
    60% {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes info-fade {
    0% {opacity: 0;}
    60% {opacity: 0;}
    100% {opacity: 1;}
}